.container{
    margin: 10px 0;
}

.input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    border: 0;
    border-radius: 3px;
    color: #121212;
    background-color: #fff;
}

.input:focus {  
    border: none;   
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    outline: none;
}
